/* style.css */
:root {
  --blood: #8e0000;
  --gold: #ffb400;
  --ink: #050505;
  --gray: #1a1a1a;
}

body {
  background-color: var(--ink);
  background-image: radial-gradient(circle at center, #1a0505 0%, #000 100%);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.ui {
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
  max-width: 420px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 0 0 10px var(--blood);
}

h1 span { color: var(--blood); }

p {
  color: #888;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* HUD de Estadísticas */
.stats-bar {
  display: flex;
  justify-content: space-between;
  background: var(--gray);
  border: 1px solid #333;
  border-top: 2px solid var(--gold);
  padding: 8px 15px;
  margin-top: 15px;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
}

.stat-label { color: var(--gold); font-size: 0.7rem; display: block; }
.stat-value { color: white; font-weight: bold; }

/* Canvas Container */
.game-container {
  position: relative;
  padding: 4px;
  background: var(--blood);
  box-shadow: 0 0 30px rgba(142, 0, 0, 0.2);
}

canvas {
  background: #000;
  display: block;
  image-rendering: pixelated; /* Look retro nítido */
}

/* Controles y Botones */
.controls {
  margin-top: 20px;
  text-align: center;
}

button {
  background: var(--blood);
  color: white;
  border: none;
  padding: 12px 30px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  transition: all 0.2s;
}

button:hover {
  background: #ff0000;
  transform: translateY(-2px);
  box-shadow: 0 0 15px var(--blood);
}

button:active { transform: translateY(0); }

.controls p {
  margin-bottom: 10px;
  font-size: 0.75rem;
  color: #555;
  text-transform: uppercase;
}

/* Agrega esto al final de style.css */

.btn-exit {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparente */
  border: 1px solid #333;
  color: #888;
  font-size: 0.8rem;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 100; /* Por encima del canvas */
  clip-path: none; /* Quitamos el corte ninja complejo para este botón simple */
  width: auto; /* Sobreescribimos el width del botón general */
}

.btn-exit:hover {
  background: var(--blood);
  color: white;
  border-color: var(--blood);
}